<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="shortcut icon" href="https://res.cloudinary.com/health-first/image/upload/v1656470075/Logos/logo-hf_ywc9o3.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Compras
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>
	<body class="">
	  <div class="wrapper ">
	    <div class="sidebar" data-color="white" data-active-color="danger">
	      <div class="logo">
	        <a th:href="@{/admin/admin}" class="simple-text logo-mini">
	          <div class="logo-image-small">
	            <img src="https://res.cloudinary.com/health-first/image/upload/v1656470075/Logos/logo-hf_ywc9o3.png">
	          </div>
	        </a>
	        <a th:href="@{/admin/admin}" class="simple-text logo-normal">
	          Administrador
	        </a>
	      </div>
	      <div class="sidebar-wrapper">
	        <ul class="nav">
	          <li>
	            <a th:href="@{/admin/admin}">
	              <i class="nc-icon nc-bank"></i>
	              <p>Perfil</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/blogs}">
	              <i class="nc-icon nc-book-bookmark"></i>
	              <p>Blogs</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/carritos}">
	              <i class="nc-icon nc-cart-simple"></i>
	              <p>Carritos</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/carruseles}">
	              <i class="nc-icon nc-album-2"></i>
	              <p>Carruseles</p>
	            </a>
	          </li>
	          <li class="active">
	            <a th:href="@{/admin/compras}">
	              <i class="nc-icon nc-tag-content"></i>
	              <p>Compras</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/contactos}">
	              <i class="nc-icon nc-email-85"></i>
	              <p>Contactos</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/favoritos}">
	              <i class="nc-icon nc-favourite-28"></i>
	              <p>Favoritos</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/productos}">
	              <i class="nc-icon nc-box-2"></i>
	              <p>Productos</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/testimonios}">
	              <i class="nc-icon nc-caps-small"></i>
	              <p>Testimonios</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/tiendas}">
	              <i class="nc-icon nc-shop"></i>
	              <p>Tiendas</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/usuarios}">
	              <i class="nc-icon nc-single-02"></i>
	              <p>Usuarios</p>
	            </a>
	          </li>
	        </ul>
	      </div>
	    </div>
	    <div class="main-panel">
	      <!-- Navbar -->
	      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
	        <div class="container-fluid">
	          <div class="navbar-wrapper">
	            <div class="navbar-toggle">
	              <button type="button" class="navbar-toggler">
	                <span class="navbar-toggler-bar bar1"></span>
	                <span class="navbar-toggler-bar bar2"></span>
	                <span class="navbar-toggler-bar bar3"></span>
	              </button>
	            </div>
	            <a class="navbar-brand" href="javascript:;">Tabla de Compras</a>
	          </div>
	          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-bar navbar-kebab"></span>
	            <span class="navbar-toggler-bar navbar-kebab"></span>
	            <span class="navbar-toggler-bar navbar-kebab"></span>
	          </button>
	          <div class="collapse navbar-collapse justify-content-end" id="navigation">
				<div th:if="${session.usuarios != null}">
		           <div class="left-topbar row">
                      <a th:href="@{/private/index}">
                          <button class="btn btn-primary" type="submit">VER COMO USUARIO</button  >
                      </a>
                      <form th:action="@{/logout}" method="POST">
                          <button class="btn btn-danger-xd" type="submit">CERRAR SESIÓN</button  >
                      </form>
		           </div>
		        </div >
	          </div>
	        </div>
	      </nav>
	      <!-- End Navbar -->
      <div class="content">
        <div class="container">
          <div class="mx-auto col-sm-12 main-section" id="myTab" role="tablist">
            <ul class="nav nav-tabs justify-content-end">
              <li class="nav-item">
              <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Compras</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Nuevo registro</a>				   	
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <!-- table -->
              <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Compras</h4>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table">
                            <thead class=" text-primary">
                              <th>
                                ID
                              </th>
                              <th>
                                ID_USUARIO
                              </th>
                              <th>
                                PRODUCTOS
                              </th>
                              <th>
                                PRECIO
                              </th>
                              <th>
                                METODO_PAGO
                              </th>
                              <th>
                                ESTADO
                              </th>
                              <th>
                                ACCIONES
                              </th>
                            </thead>
                            <tbody>
                              <!-- INICIO TD -->
                              <tr th:each="compra:${compras}">
                                <td th:text="${compra.id_compra}">
                                  *
                                </td >
                                <td th:text="${compra.id_usuario_compra}">
                                  *
                                </td >
                                <td th:text="${compra.productos_compra}">
                                  *
                                </td >
                                <td>
                                  S/ <span th:text="${compra.precio_compra}">*</span >
                                </td >
                                <td th:text="${compra.metodo_pago_compra}">
                                  *
                                </td >
                                <td th:text="${compra.estado_compra}">
                                  *
                                </td >
                                <td>
                                  <a th:href="@{/admin/editar/compras/}+${compra.id_compra}" class="button-action-edit">
                                    <img class="icon-action" src="https://res.cloudinary.com/health-first/image/upload/v1639017872/Logos/edit-ic_iksypi.svg">
                                  </a>
                                  <button th:href="@{/admin/eliminar/compras/}+${compra.id_compra}" 
                                  	 th:onclick="eliminarCompra([[${compra.id_compra}]])" class="button-action-delete" >
                                    <img class="icon-action" src="https://res.cloudinary.com/health-first/image/upload/v1639017872/Logos/delete-ic_hi5e63.svg">
                                  </button >
                                </td>
                              </tr >
                              <!-- FIN TR -->
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- form -->
              <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card card-user">
                      <div class="card-header">
                        <h5 class="card-title">Agregar Nueva Compra</h5>
                      </div>
                      <div class="card-body">
                        <form th:action="@{/admin/save/compras}" th:object=${compra} method="POST">
                          <div class="row">
                            <div class="col-md-4 pr-1">
                              <div class="form-group">
                                <label>Id Usuario *</label>
                                <input th:field="*{id_usuario_compra}" type="number" class="form-control" min="1" required placeholder="1">
                              </div>
                            </div>
                            <div class="col-md-8 pl-1">
                              <div class="form-group">
                                <label>Nombres de los Productos *</label>
                                <input required th:field="*{productos_compra}" type="text" class="form-control" placeholder="Productos de la compra">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4 pr-1">
                              <div class="form-group">
                                <label>Precio de la Compra *</label>
                                <input required th:field="*{precio_compra}" min="0.5" type="number" step="any" class="form-control" placeholder="1">
                              </div>
                            </div>
                            <div class="col-md-4 px-1">
                              <div class="form-group">
                                <label>Metodo de Pago *</label>
                                <select required class="form-control" th:field="*{metodo_pago_compra}">
                                  <option value="Paypal">
                                    Paypal
                                  </option>
                                  <option value="Visa">
                                    Visa
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4 pl-1">
                              <div class="form-group">
                                <label>Estado de la Compra *</label>
                                <select required class="form-control" th:field="*{estado_compra}">
                                  <option value="Pedido realizado">
                                    Pedido realizado
                                  </option>
                                  <option value="Validando pago">
                                    Validando pago
                                  </option>
                                  <option value="Pago confirmado">
                                  	Pago confirmado
                                  </option>
                                  <option value="Pago erroneo">
                                    Pago erroneo
                                  </option>
                                  <option value="Compra empaquetada">
                                    Compra empaquetada
                                  </option>
                                  <option value="Enviando compra">
                                    Enviando compra
                                  </option>
                                  <option value="Compra finalizada">
                                    Compra finalizada
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="update ml-auto mr-auto">
                              <button type="submit" class="btn btn-primary btn-round">Agregar</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end form -->
            </div>
          </div>
        </div>
      </div>
	  <footer class="footer footer-black  footer-white">
		  <div class="container-fluid">
			  <div class="row">
				  <div class="credits ml-auto">
					  <span class="copyright">
						©COPYRIGHT 2022. HEALTH FIRST. TODOS LOS DERECHOS RESERVADOS. 
					  </span>
				  </div>
			  </div>
		  </div>
	  </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../assets/functions/funciones.js"></script>
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/demo/demo.js"></script>
</body>

</html>