<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="shortcut icon" href="https://res.cloudinary.com/health-first/image/upload/v1656470075/Logos/logo-hf_ywc9o3.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Usuarios
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
  <!--JQUERY-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
	<body class="">
	  <div class="wrapper ">
	    <div class="sidebar" data-color="white" data-active-color="danger">
	      <div class="logo">
	        <a th:href="@{/admin/admin}" class="simple-text logo-mini">
	          <div class="logo-image-small">
	            <img src="https://res.cloudinary.com/health-first/image/upload/v1656470075/Logos/logo-hf_ywc9o3.png">
	          </div>
	        </a>
	        <a th:href="@{/admin/admin}" class="simple-text logo-normal">
	          Administrador
	        </a>
	      </div>
	      <div class="sidebar-wrapper">
	        <ul class="nav">
	          <li>
	            <a th:href="@{/admin/admin}">
	              <i class="nc-icon nc-bank"></i>
	              <p>Perfil</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/blogs}">
	              <i class="nc-icon nc-book-bookmark"></i>
	              <p>Blogs</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/carritos}">
	              <i class="nc-icon nc-cart-simple"></i>
	              <p>Carritos</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/carruseles}">
	              <i class="nc-icon nc-album-2"></i>
	              <p>Carruseles</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/compras}">
	              <i class="nc-icon nc-tag-content"></i>
	              <p>Compras</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/contactos}">
	              <i class="nc-icon nc-email-85"></i>
	              <p>Contactos</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/favoritos}">
	              <i class="nc-icon nc-favourite-28"></i>
	              <p>Favoritos</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/productos}">
	              <i class="nc-icon nc-box-2"></i>
	              <p>Productos</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/testimonios}">
	              <i class="nc-icon nc-caps-small"></i>
	              <p>Testimonios</p>
	            </a>
	          </li>
	          <li>
	            <a th:href="@{/admin/tiendas}">
	              <i class="nc-icon nc-shop"></i>
	              <p>Tiendas</p>
	            </a>
	          </li>
	          <li class="active">
	            <a th:href="@{/admin/usuarios}">
	              <i class="nc-icon nc-single-02"></i>
	              <p>Usuarios</p>
	            </a>
	          </li>
	        </ul>
	      </div>
	    </div>
	    <div class="main-panel">
	      <!-- Navbar -->
	      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
	        <div class="container-fluid">
	          <div class="navbar-wrapper">
	            <div class="navbar-toggle">
	              <button type="button" class="navbar-toggler">
	                <span class="navbar-toggler-bar bar1"></span>
	                <span class="navbar-toggler-bar bar2"></span>
	                <span class="navbar-toggler-bar bar3"></span>
	              </button>
	            </div>
	            <a class="navbar-brand" href="javascript:;">Tabla de Usuarios</a>
	          </div>
	          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-bar navbar-kebab"></span>
	            <span class="navbar-toggler-bar navbar-kebab"></span>
	            <span class="navbar-toggler-bar navbar-kebab"></span>
	          </button>
	          <div class="collapse navbar-collapse justify-content-end" id="navigation">
				<div th:if="${session.usuarios != null}">
		           <div class="left-topbar row">
                      <a th:href="@{/private/index}">
                          <button class="btn btn-primary" type="submit">VER COMO USUARIO</button  >
                      </a>
                      <form th:action="@{/logout}" method="POST">
                          <button class="btn btn-danger-xd" type="submit">CERRAR SESIÓN</button  >
                      </form>
		           </div>
		        </div >
	          </div>
	        </div>
	      </nav>
	      <!-- End Navbar -->
      <div class="content">
        <div class="container">
          <div class="mx-auto col-sm-12 main-section" id="myTab" role="tablist">
            <ul class="nav nav-tabs justify-content-end">
              <li class="nav-item">
              <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Usuarios</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Nuevo registro</a>				   	
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <!-- table -->
              <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Usuarios</h4>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table">
                            <thead class=" text-primary">
                              <th>
                                ID
                              </th>
                              <th>
                                NOMBRE
                              </th>
                              <th>
                                APELLIDO
                              </th>
                              <th>
                                TELEFONO
                              </th>
                              <th>
                                FECHA NAC.
                              </th>
                              <th>
                                EMAIL
                              </th>
                              <th>
                                ROL
                              </th>
                              <th>
                                USERNAME
                              </th>
                              <th>
                                IMAGEN-URL
                              </th>
                              <th>
                                ACCIONES
                              </th>
                            </thead>
                            <tbody>
                              <!-- INICIO TR -->
                              <tr th:each="usuario:${usuarios}">
                                <td th:text="${usuario.id}">
                                  *
                                </td >
                                <td th:text="${usuario.nombre}">
                                  *
                                </td >
                                <td th:text="${usuario.apellido}">
                                  *
                                </td >
                                <td th:text="${usuario.telefono}">
                                  *
                                </td >
                                <td th:text="${usuario.fecha}">
                                  *
                                </td >
                                <td th:text="${usuario.email}">
                                  *
                                </td >
                                <td th:text="${usuario.rol}">
                                  *
                                </td >
                                <td th:text="${usuario.username}">
                                  *
                                </td >
                                <td th:text="${usuario.imagen}">
                                  *
                                </td >
                                <td>
                                  <a th:href="@{/admin/editar/usuarios/}+${usuario.id}" class="button-action-edit">
                                    <img class="icon-action" src="https://res.cloudinary.com/health-first/image/upload/v1639017872/Logos/edit-ic_iksypi.svg">
                                  </a>
                                  <button th:href="@{/admin/eliminar/usuarios/}+${usuario.id}" 
                                  		  th:onclick="eliminarUsuario([[${usuario.id}]])" class="button-action-delete">
                                    <img class="icon-action" src="https://res.cloudinary.com/health-first/image/upload/v1639017872/Logos/delete-ic_hi5e63.svg">
                                  </button>
                                </td>
                              </tr >
                              <!-- FIN TR -->
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- form -->
              <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card card-user">
                      <div class="card-header">
                        <h5 class="card-title">Agregar Nuevo Usuario</h5>
                      </div>
                      <div class="card-body">
                        <form th:action="@{/admin/save/usuarios}" th:object=${usuario} method="POST">
                          <div class="row">
                            <div class="col-md-6 pr-1">
                              <div class="form-group">
                                <label>Nombres *</label>
                                <input th:field="*{nombre}" type="text" class="form-control" required placeholder="Nombres">
                              </div>
                            </div>
                            <div class="col-md-6 pl-1">
                              <div class="form-group">
                                <label>Apellidos *</label>
                                <input type="text" th:field="*{apellido}" class="form-control" required placeholder="Apellidos">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 pr-1">
                              <div class="form-group">
                                <label>Teléfono *</label>
                                <input th:field="*{telefono}" type="number" min="900000000" max="999999999" class="form-control" required placeholder="999999999">
                              </div>
                            </div>
                            <div class="col-md-4 pl-1">
                              <div class="form-group">
                                <label>Fecha de nacimiento *</label>
                                <input type="date" th:field="*{fecha}" min="1950-01-01" required class="form-control">
                              </div>
                            </div>
                            <div class="col-md-5 pl-1">
                              <div class="form-group">
                                <label>Email *</label>
                                <input th:field="*{email}" type="email" class="form-control" required placeholder="Email@example.com">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 pr-1">
                              <div class="form-group">
                                <label>Rol *</label>
                                <select  class="form-control" th:field="*{rol}" required>
                                  <option value="USER">Usuario</option>
                                  <option value="ADMIN">Administrador</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4 pl-1">
                              <div class="form-group">
                                <label>Username *</label>
                                <input type="text" th:field="*{username}" class="form-control" required placeholder="Username">
                              </div>
                            </div>
                            <div class="col-md-5 pl-1">
                              <div class="form-group">
                                <label>Password *</label>
                                <input th:field="*{password}" type="password" class="form-control" required placeholder="*******">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 px-3">
                              <div class="form-group">
                                <label>URL Imagen *</label>
                                <input id="imagen" th:field="*{imagen}" type="text" class="form-control" required placeholder="https://">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="update ml-auto mr-auto">
                              <button type="submit" class="btn btn-primary btn-round">Agregar</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end form -->
            </div>
          </div>
        </div>
      </div>
	  <footer class="footer footer-black  footer-white ">
		  <div class="container-fluid">
			  <div class="row">
				  <div class="credits ml-auto">
					  <span class="copyright">
						©COPYRIGHT 2022. HEALTH FIRST. TODOS LOS DERECHOS RESERVADOS. 
					  </span>
				  </div>
			  </div>
		  </div>
	  </footer>
	</div>
  </div>
  <!--   Core JS Files   -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../assets/functions/funciones.js"></script>
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/demo/demo.js"></script>
  <script type="text/javascript">
  	document.getElementById('imagen').value='https://res.cloudinary.com/health-first/image/upload/v1638940028/Usuarios/testimonial-avatar1_edvv9z.png';
  </script>
</body>

</html>