<!DOCTYPE html>
<html class="no-js" lang="es" xmlns:th="https://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <title>Nosotros</title>
	    <meta name="keywords" content="keywords" />
	    <meta name="description" content="description" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="https://res.cloudinary.com/health-first/image/upload/v1656470075/Logos/logo-hf_ywc9o3.png" />
	    <link href="/assets/styles/font-awesome.min.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/pe-icon-7-stroke/css/helper.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/minimal-menu.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/flat-form.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/fancySelect.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/jquery.fancybox.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/allinone_bannerRotator.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/owl.carousel.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/styles.css" rel="stylesheet" type="text/css" />
	    <script src="/assets/scripts/libs/prefixfree.min.js"></script>
	    <script src="/assets/scripts/libs/modernizr.js"></script>
	</head>
    <body class="home7">
        <div class="topbar">
            <div class="container">
            
             	<div class="left-topbar">
                    <ul class="list-inline">
                        <li>
	                        <div th:if="${session.usuarios != null}">
	                            <div th:if="${session.usuarios.rol == 'ADMIN'}" class="left-topbar">
	                                <a class="link2 btn btn-danger btn-long" th:href="@{/admin/admin}"><span>Ver como administrador</span></a >
	                             </div>
	                             <div th:if="${session.usuarios.rol != 'ADMIN'}" class="left-topbar">
	                             </div>
	                        </div >
                        </li>
                    </ul>
                </div>
                <div class="right-topbar">
                    <ul class="list-inline">
                        <li>
                            <div th:if="${session.usuarios == null}" class="left-topbar">
                                <a th:href="@{/auth/login}">INICIAR SESIÓN</a> / <a th:href="@{/auth/register}">REGISTRARME</a>
                             </div>
                             <div th:if="${session.usuarios != null}" class="left-topbar">
                             <a th:href="@{/private/profile}"><img class="img-profile" th:src="${session.usuarios.imagen}">  <span th:text="${session.usuarios.username}"></span ></a>
                             <!--
                                <form th:action="@{/logout}" method="POST">
                                	<button type="submit">CERRAR SESIÓN</button >
                                </form>	
                             -->
                             </div>
                        </li>
                    </ul>
                </div>
                <!-- /.right-topbar -->
            </div>
        </div>
        <!-- /.topbar -->
        <hr class="gray-line" />
        <header>
            <div class="container">
            	<div>
            		<a class="logo" th:href="@{/private/index}" th:if="${session.usuarios != null}">
                		<img src="https://res.cloudinary.com/health-first/image/upload/v1656470263/Logos/logo-hf-l_bcicfy.png" class="image-logo" alt="Logo CovidEssentials" />
            		</a>
	                <a class="logo" th:href="@{/public/index}" th:if="${session.usuarios == null}">
                		<img src="https://res.cloudinary.com/health-first/image/upload/v1656470263/Logos/logo-hf-l_bcicfy.png" class="image-logo" alt="Logo CovidEssentials" />
            		</a>
            	</div>
                <!-- /.top-cart -->
                <nav class="main-nav">
                    <div class="minimal-menu">
                        <ul class="menu">
                        
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/index}">INICIO</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/index}">INICIO</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/shop}">COMPRAR</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/shop}">COMPRAR</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/stores}">TIENDAS</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/stores}">TIENDAS</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/blog}">BLOG</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/blog}">BLOG</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}" class="current-menu-item">
                                <a th:href="@{/private/aboutus}">NOSOTROS</a>
                            </li >
                            <li th:if="${session.usuarios == null}" class="current-menu-item">
                                <a th:href="@{/public/aboutus}">NOSOTROS</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/contact}">CONTACTO</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/contact}">CONTACTO</a>
                            </li >
                        </ul>
                    </div>
                    <!-- /.minimal-menu -->
                </nav>
                <!-- /.main-nav -->
            </div>
        </header>
        <div class="theme-features">
            <div class="container">
                <h3>HEALTH FIRST</h3>
                <h5>Sobre nosotros</h5>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="feature-item">
                            <h4 class="text-center">¿QUIENES SOMOS?</h4>
                            <p class="text-justify">Inicialmente solo nos enfocábamos en productos para la prevención de la Covid-19, puesto que nos encontrábamos en pleno auge de la pandemia, además era una necesidad primordial en la ciudad de Lima. Hoy en día dejó de tener la intensidad de necesidad como era en aquel momento (mediados de 2021), pero aún así no deja de ser una necesidad.</p >
                            <p class="text-justify">Nos basamos principalmente en la necesidad de las personas por obtener productos para el cuidado de la salud, como por ejemplo; medicamentos, medicinas, pastillas, cremas, entre otros, desde la comodidad de su hogar sin tener que perder el tiempo buscando lo que necesita.</p >
                            <p class="text-justify">En nuestra página podemos encontrar diferentes tipos de productos desde los más baratos y genéricos hasta los de mayor precio de una mejor calidad, esto porque contamos con diferentes tiendas, farmacias, boticas, entre otras. Además, también ofrecemos productos para la prevención del contagio del Covid-19.</p >
                            <p class="text-justify">Nuestro modelo de negocio es simple de entender, les ofrecemos a los clientes los productos que nos ofrecen los proveedores, es decir, somos intermediarios entre clientes y proveedores de productos para la salud.</p >
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="feature-item">
                            <img class="img-responsive" style="width:450px;" src="https://res.cloudinary.com/health-first/image/upload/v1656731152/Sobre%20nosotros/AboutUs1_gp24lj.png">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <div class="col-md-6 col-sm-6">
                        <div class="feature-item">
                            <img class="img-responsive" style="width:480px;" src="https://res.cloudinary.com/health-first/image/upload/v1656732524/Sobre%20nosotros/AboutUs2_ragfdc.png">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="feature-item">
                            <h4 class="text-center">FUNDADORES</h4>
                            <p class="text-justify">Los egresados de la carrera de Diseño y Desarrollo de Software del Instituto Tecnológico Tecsup, con sede en Santa Anita - Lima, Harold Arias y su compañero Luis Valdivia tuvieron la idea de realizar como proyecto de Tesis un aplicativo que sea un apoyo para el sector salud de la ciudad Lima, Perú. Empezó como una idea simple sobre un aplicativo que disminuya el covid-19 mediante ventas de productos para su prevención, hasta modificarse a ser más de ventas de todo tipo de producto para la salud.</p>
                            <p class="text-justify">Harold y Luis se conocieron en la carrera Diseño y Desarrollo de Software, donde se desempeñaron y aprendieron a como ser desarrollares con toda la capacidad de llevar a cabo diferentes tipos de proyectos. El trabajo en equipo siempre fue importante para avanzar como profesional que quiera desempeñarse en un equipo de trabajo con un excelente rendimiento.</p>
                            <p class="text-justify">Entre el inicio del desarrollo y las modificaciones que el proyecto tuvo, el tiempo invertido fue de casi un año para concluir con el lanzamiento y funcionamiento inicial. Gracias a las modificaciones y consejos brindados por parte de asesores y docentes del instituto fue que se llegó a un buen producto final.</p>
                        </div>
                    </div>
                </div>
                
                <br><br><br>
                
                <hr class="gray-line" />
                
                <div class="row">
                    <br><br>
                    <h3>PREGUNTAS FRECUENTES</h3>
                    <h5>Health First</h5>
                    <div class="col-md-6 col-sm-6">
                        <div class="feature-item pe-7s-star">
                            <h4>¿PORQUE NOSOTROS?</h4>
                            <p class="text-justify">Somos una de las pocas páginas web que ofrece el servicio y productos de diferente empresas que comercializan con productos de la salud.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="feature-item pe-7s-cash">
                            <h4>¿QUE MEDIOS DE PAGO OFRECEN?</h4>
                            <p class="text-justify">Nuestros medios de pagos o métodos de pago son dependiendo de los proveedores, pero generalmente se maneja tarjeta de débito/crédito, yape o efectivo.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="feature-item pe-7s-safe">
                            <h4>¿LOS MEDIOS / METODOS DE PAGO SON SEGUROS?</h4>
                            <p class="text-justify">Por supuesto, los métodos de pago que ofrecen los proveedores son 100% seguros, además, todos los proveedores que son asociados deben contar con licencia de funcionamiento.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="feature-item pe-7s-cart">
                            <h4>¿CUENTAN CON UN SERVICIO DE DELIVERY?</h4>
                            <p class="text-justify">Claro, pero éste servicio tiene una condición, que la venta sea al por mayor, es decir que se vendan grandes cantidades de productos para un solo cliente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="gray-line" />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h3>ADDRESS INFO</h3>
                        <!--<div class="address">Mall Aventura - Florida - <br />Miami</div>-->
                        <p>Tel. <a href="tel:+51 916541436">+51 916 541 436</a></p>
                        <p>Email. <a href="mailto:healthfirst@gmail.com">healthfirst@gmail.com</a></p>
                        
                    </div>
                    <div class="col-md-3 col-sm-6" th:if="${session.usuarios == null}">
                        <h3>INICIO</h3>
                        <ul class="list-link">
                            <li><a th:href="@{/public/index}">INICIO</a></li>
                            <li><a th:href="@{/public/shop}">COMPRAR</a></li>
                            <li><a th:href="@{/public/blog}">BLOG</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6" th:if="${session.usuarios != null}">
                        <h3>INICIO</h3>
                        <ul class="list-link">
                            <li><a th:href="@{/private/index}">INICIO</a></li>
                            <li><a th:href="@{/private/shop}">COMPRAR</a></li>
                            <li><a th:href="@{/private/blog}">BLOG</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <h3>POLITICAS</h3>
                        <ul class="list-link">
                            <li><a href="#">POLÍTICAS AMBIENTALES</a></li>
                            <li><a href="#">POLÍTICA PRIVADA</a></li>
                            <li><a href="#">CONDICIONES</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-3 col-sm-6" th:if="${session.usuarios == null}">
                        <h3>COMPAÑIA</h3>
                        <ul class="list-link">
                            <li><a th:href="@{/public/aboutus}">NOSOTROS</a></li>
                            <li><a th:href="@{/public/stores}">TIENDAS</a></li>
                            <li><a th:href="@{/public/contact}">CONTACTO</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6" th:if="${session.usuarios != null}">
                        <h3>COMPAÑIA</h3>
                        <ul class="list-link">
                            <li><a th:href="@{/private/aboutus}">NOSOTROS</a></li>
                            <li><a th:href="@{/private/stores}">TIENDAS</a></li>
                            <li><a th:href="@{/private/contact}">CONTACTO</a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="bottom-footer">
                    <div class="copyright">
                        ©COPYRIGHT 2022. HEALTH FIRST. TODOS LOS DERECHOS RESERVADOS. 
                    </div>
                    <!-- /.copyright -->
                    <ul class="list-payment">
                        <li><a href="#"><img src="/assets/images/visa.png" alt="img" /></a></li>
                        <li><a href="#"><img src="/assets/images/paypal.png" alt="img" /></a></li>
                        <li><a href="#"><img src="/assets/images/2co.png" alt="img" /></a></li>
                        <li><a href="#"><img src="/assets/images/ae.png" alt="img" /></a></li>
                        <li><a href="#"><img src="/assets/images/skrill.png" alt="img" /></a></li>
                    </ul>
                    <!-- /.list-payment -->
                </div>
            </div>
        </footer>
        <script src="/assets/scripts/libs/jquery-1.11.2.min.js"></script>
        <script src="/assets/scripts/libs/jquery-ui-1.11.4/jquery-ui.min.js"></script>
        <script src="/assets/scripts/libs/jquery.easing.1.3.js"></script>
        <script src="/assets/scripts/libs/bootstrap.min.js"></script>
        <script src="/assets/scripts/libs/fancySelect.js"></script>
        <script src="/assets/scripts/libs/jquery.fancybox.pack.js"></script>
        <script src="/assets/scripts/libs/jquery.ui.touch-punch.min.js"></script>
        <script src="/assets/scripts/libs/jquery.mousewheel.min.js"></script>
        <script src="/assets/scripts/libs/allinone_bannerRotator.js"></script>
        <script src="/assets/scripts/libs/owl.carousel.min.js"></script>
        <script src="/assets/scripts/libs/jquery.countdown.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="assets/scripts/libs/gmaps.js"></script>
        <script src="assets/scripts/functions.js"></script>
    </body>
</html>