<!DOCTYPE html>
<html class="no-js" lang="es" xmlns:th="https://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <title>Carrito de compras</title>
	    <meta name="keywords" content="keywords" />
	    <meta name="description" content="description" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="https://res.cloudinary.com/health-first/image/upload/v1656470075/Logos/logo-hf_ywc9o3.png" />
	    <link href="/assets/styles/font-awesome.min.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/pe-icon-7-stroke/css/helper.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/minimal-menu.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/flat-form.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/fancySelect.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/jquery.fancybox.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/allinone_bannerRotator.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/owl.carousel.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/styles.css" rel="stylesheet" type="text/css" />
	    <script src="/assets/scripts/libs/prefixfree.min.js"></script>
	    <script src="/assets/scripts/libs/modernizr.js"></script>
	</head>
    <body class="home7">
        <div class="topbar">
            <div class="container">
            
             	<div class="left-topbar">
                    <ul class="list-inline">
                        <li>
	                        <div th:if="${session.usuarios != null}">
	                            <div th:if="${session.usuarios.rol == 'ADMIN'}" class="left-topbar">
	                                <a class="link2 btn btn-danger btn-long" th:href="@{/admin/admin}"><span>Ver como administrador</span></a >
	                             </div>
	                             <div th:if="${session.usuarios.rol != 'ADMIN'}" class="left-topbar">
	                             </div>
	                        </div >
                        </li>
                    </ul>
                </div>
                <div class="right-topbar">
                    <ul class="list-inline">
                        <li>
                            <div th:if="${session.usuarios == null}" class="left-topbar">
                                <a th:href="@{/auth/login}">INICIAR SESIÓN</a> / <a th:href="@{/auth/register}">REGISTRARME</a>
                             </div>
                             <div th:if="${session.usuarios != null}" class="left-topbar">
                             <a th:href="@{/private/profile}"><img class="img-profile" th:src="${session.usuarios.imagen}">  <span th:text="${session.usuarios.username}"></span ></a>
                             <!--
                                <form th:action="@{/logout}" method="POST">
                                	<button type="submit">CERRAR SESIÓN</button >
                                </form>	
                             -->
                             </div>
                        </li>
                    </ul>
                </div>
                <!-- /.right-topbar -->
            </div>
        </div>
        <!-- /.topbar -->
        <hr class="gray-line" />
        <header>
            <div class="container">
            	<div>
            		<a class="logo" th:href="@{/private/index}" th:if="${session.usuarios != null}">
                		<img src="https://res.cloudinary.com/health-first/image/upload/v1656470263/Logos/logo-hf-l_bcicfy.png" class="image-logo" alt="Logo CovidEssentials" />
            		</a>
	                <a class="logo" th:href="@{/public/index}" th:if="${session.usuarios == null}">
                		<img src="https://res.cloudinary.com/health-first/image/upload/v1656470263/Logos/logo-hf-l_bcicfy.png" class="image-logo" alt="Logo CovidEssentials" />
            		</a>
            	</div>
                <!-- /.top-cart -->
                <nav class="main-nav">
                    <div class="minimal-menu">
                        <ul class="menu">
                        
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/index}">INICIO</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/index}">INICIO</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}" class="current-menu-item">
                                <a th:href="@{/private/shop}">COMPRAR</a>
                            </li >
                            <li th:if="${session.usuarios == null}" class="current-menu-item">
                                <a th:href="@{/public/shop}">COMPRAR</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/stores}">TIENDAS</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/stores}">TIENDAS</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/blog}">BLOG</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/blog}">BLOG</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/aboutus}">NOSOTROS</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/aboutus}">NOSOTROS</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/contact}">CONTACTO</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/contact}">CONTACTO</a>
                            </li >
                        </ul>
                    </div>
                    <!-- /.minimal-menu -->
                </nav>
                <!-- /.main-nav -->
            </div>
        </header>
        <div class="main">
            <div class="container">
                <div class="header-page">
                    <h1>SHOPPING CART</h1>
                </div>
                <!-- /.header-page -->
                <div class="main-content">
                    <form action="#" class="shop-form">
                        <div class="table-responsive">
                            <table class="shop-table table" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="product-remove"></th>
                                        <th class="product-thumbnail"></th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_item">
                                        <td class="product-remove"><a href="#" class="remove"><i class="fa fa-times"></i></a></td>
                                        <td class="product-thumbnail">
                                            <a href="single-product.html">
                                                <img class="img-responsive" src="/assets/images/small-product-1.jpg" alt="img" />
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="single-product.html">
                                                COAT WITH WOOL WRAPAROUND COLLAR
                                            </a>
                                        </td>
                                        <td class="product-price"><span class="amount">900USD</span></td>
                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <button class="minus-btn"><i class="fa fa-minus"></i></button>
                                                <input type="text" value="2" />
                                                <button class="plus-btn"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </td>
                                        <td class="product-subtotal"><span class="amount">1800USD</span></td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="product-remove"><a href="#" class="remove"><i class="fa fa-times"></i></a></td>
                                        <td class="product-thumbnail">
                                            <a href="single-product.html">
                                                <img class="img-responsive" src="/assets/images/small-product-3.jpg" alt="img" />
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="single-product.html">
                                                COAT WITH WOOL WRAPAROUND COLLAR
                                            </a>
                                        </td>
                                        <td class="product-price"><span class="amount">700USD</span></td>
                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <button class="minus-btn"><i class="fa fa-minus"></i></button>
                                                <input type="text" value="1" />
                                                <button class="plus-btn"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </td>
                                        <td class="product-subtotal"><span class="amount">700USD</span></td>
                                    </tr>
                                    <tr class="cart-action">
                                        <td colspan="3">
                                            <div class="wrap-coupon">
                                                <input class="input-form" type="text" placeholder="ENTER COUPON CODE" />
                                                <button class="apply-coupon-btn">APPLY COUPON</button>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td colspan="2">
                                            <button class="update-cart-btn">UPDATE CART</button>
                                            <button class="checkout-btn">PROCEED TO CHECKOUT</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.shop-table -->
                        </div>
                        <!-- /.table-responsive -->
                        <div class="row mgt-70">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="shop-totals">
                                    <h3>CART TOTALS</h3>
                                    <table class="totals-table">
                                        <tr>
                                            <td>Cart Subtotal:</td>
                                            <td><span class="amount">$1000.00</span></td>
                                        </tr>
                                        <tr>
                                            <td>Shipping and Handling:</td>
                                            <td>Free Shipping</td>
                                        </tr>
                                        <tr>
                                            <td>Order Total:</td>
                                            <td><span class="amount">$1000.00</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </form>
                </div>
                <!-- /.main-content -->
            </div>
        </div>
        <hr class="gray-line" />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h3>ADDRESS INFO</h3>
                        <!--<div class="address">Mall Aventura - Florida - <br />Miami</div>-->
                        <p>Tel. <a href="tel:+51 916541436">+51 916 541 436</a></p>
                        <p>Email. <a href="mailto:healthfirst@gmail.com">healthfirst@gmail.com</a></p>
                        
                    </div>
                    <div class="col-md-3 col-sm-6" th:if="${session.usuarios == null}">
                        <h3>INICIO</h3>
                        <ul class="list-link">
                            <li><a th:href="@{/public/index}">INICIO</a></li>
                            <li><a th:href="@{/public/shop}">COMPRAR</a></li>
                            <li><a th:href="@{/public/blog}">BLOG</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6" th:if="${session.usuarios != null}">
                        <h3>INICIO</h3>
                        <ul class="list-link">
                            <li><a th:href="@{/private/index}">INICIO</a></li>
                            <li><a th:href="@{/private/shop}">COMPRAR</a></li>
                            <li><a th:href="@{/private/blog}">BLOG</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <h3>POLITICAS</h3>
                        <ul class="list-link">
                            <li><a href="#">POLÍTICAS AMBIENTALES</a></li>
                            <li><a href="#">POLÍTICA PRIVADA</a></li>
                            <li><a href="#">CONDICIONES</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-3 col-sm-6" th:if="${session.usuarios == null}">
                        <h3>COMPAÑIA</h3>
                        <ul class="list-link">
                            <li><a th:href="@{/public/aboutus}">NOSOTROS</a></li>
                            <li><a th:href="@{/public/stores}">TIENDAS</a></li>
                            <li><a th:href="@{/public/contact}">CONTACTO</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6" th:if="${session.usuarios != null}">
                        <h3>COMPAÑIA</h3>
                        <ul class="list-link">
                            <li><a th:href="@{/private/aboutus}">NOSOTROS</a></li>
                            <li><a th:href="@{/private/stores}">TIENDAS</a></li>
                            <li><a th:href="@{/private/contact}">CONTACTO</a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="bottom-footer">
                    <div class="copyright">
                        ©COPYRIGHT 2022. HEALTH FIRST. TODOS LOS DERECHOS RESERVADOS. 
                    </div>
                    <!-- /.copyright -->
                    <ul class="list-payment">
                        <li><a href="#"><img src="/assets/images/visa.png" alt="img" /></a></li>
                        <li><a href="#"><img src="/assets/images/paypal.png" alt="img" /></a></li>
                        <li><a href="#"><img src="/assets/images/2co.png" alt="img" /></a></li>
                        <li><a href="#"><img src="/assets/images/ae.png" alt="img" /></a></li>
                        <li><a href="#"><img src="/assets/images/skrill.png" alt="img" /></a></li>
                    </ul>
                    <!-- /.list-payment -->
                </div>
            </div>
        </footer>
        <script src="/assets/scripts/libs/jquery-1.11.2.min.js"></script>
        <script src="/assets/scripts/libs/jquery-ui-1.11.4/jquery-ui.min.js"></script>
        <script src="/assets/scripts/libs/jquery.easing.1.3.js"></script>
        <script src="/assets/scripts/libs/bootstrap.min.js"></script>
        <script src="/assets/scripts/libs/fancySelect.js"></script>
        <script src="/assets/scripts/libs/jquery.fancybox.pack.js"></script>
        <script src="/assets/scripts/libs/jquery.ui.touch-punch.min.js"></script>
        <script src="/assets/scripts/libs/jquery.mousewheel.min.js"></script>
        <script src="/assets/scripts/libs/allinone_bannerRotator.js"></script>
        <script src="/assets/scripts/libs/owl.carousel.min.js"></script>
        <script src="/assets/scripts/libs/jquery.countdown.min.js"></script>
        <script src="/assets/scripts/functions.js"></script>
    </body>
</html>