<!DOCTYPE html>
<html class="no-js" lang="es" xmlns:th="https://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <title>Tiendas</title>
	    <meta name="keywords" content="keywords" />
	    <meta name="description" content="description" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="https://res.cloudinary.com/health-first/image/upload/v1656470075/Logos/logo-hf_ywc9o3.png" />
	    <link href="/assets/styles/font-awesome.min.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/pe-icon-7-stroke/css/helper.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/minimal-menu.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/flat-form.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/fancySelect.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/jquery.fancybox.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/allinone_bannerRotator.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/owl.carousel.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/styles/styles.css" rel="stylesheet" type="text/css" />
	    <script src="/assets/scripts/libs/prefixfree.min.js"></script>
	    <script src="/assets/scripts/libs/modernizr.js"></script>
	</head>
    <body class="home7">
        <div class="topbar">
            <div class="container">
            
             	<div class="left-topbar">
                    <ul class="list-inline">
                        <li>
	                        <div th:if="${session.usuarios != null}">
	                            <div th:if="${session.usuarios.rol == 'ADMIN'}" class="left-topbar">
	                                <a th:href="@{/admin/admin}" >
										<svg xmlns="https://res.cloudinary.com/health-first/image/upload/v1657341716/Logos/admin_sbi2wf.svg" width="15" height="15" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
											<path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
										</svg>
										<span> Administrador</span>
									</a>
	                             </div>
	                             <div th:if="${session.usuarios.rol != 'ADMIN'}" class="left-topbar">
	                             </div>
	                        </div >
                        </li>
                    </ul>
                </div>
                <div class="right-topbar">
                    <ul class="list-inline">
                        <li>
                            <div th:if="${session.usuarios == null}" class="left-topbar">
                                <a th:href="@{/auth/login}">INICIAR SESIÓN</a> / <a th:href="@{/auth/register}">REGISTRARME</a>
                             </div>
                             <div th:if="${session.usuarios != null}" class="left-topbar">
                             <a th:href="@{/private/profile}"><img class="img-profile" th:src="${session.usuarios.imagen}">  <span th:text="${session.usuarios.username}"></span ></a>
                             <!--
                                <form th:action="@{/logout}" method="POST">
                                	<button type="submit">CERRAR SESIÓN</button >
                                </form>	
                             -->
                             </div>
                        </li>
                    </ul>
                </div>
                <!-- /.right-topbar -->
            </div>
        </div>
        <!-- /.topbar -->
        <hr class="gray-line" />
        <header>
            <div class="container">
            	<div>
            		<a class="logo" th:href="@{/private/index}" th:if="${session.usuarios != null}">
                		<img src="https://res.cloudinary.com/health-first/image/upload/v1656470263/Logos/logo-hf-l_bcicfy.png" class="image-logo" alt="Logo CovidEssentials" />
            		</a>
	                <a class="logo" th:href="@{/public/index}" th:if="${session.usuarios == null}">
                		<img src="https://res.cloudinary.com/health-first/image/upload/v1656470263/Logos/logo-hf-l_bcicfy.png" class="image-logo" alt="Logo CovidEssentials" />
            		</a>
            	</div>
                <!-- /.top-cart -->
                <nav class="main-nav">
                    <div class="minimal-menu">
                        <ul class="menu">
                        
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/index}">INICIO</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/index}">INICIO</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/shop}">COMPRAR</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/shop}">COMPRAR</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}" class="current-menu-item">
                                <a th:href="@{/private/stores}">TIENDAS</a>
                            </li >
                            <li th:if="${session.usuarios == null}" class="current-menu-item">
                                <a th:href="@{/public/stores}">TIENDAS</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/blog}">BLOG</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/blog}">BLOG</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/aboutus}">NOSOTROS</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/aboutus}">NOSOTROS</a>
                            </li >
                            
                            <li th:if="${session.usuarios != null}">
                                <a th:href="@{/private/contact}">CONTACTO</a>
                            </li >
                            <li th:if="${session.usuarios == null}">
                                <a th:href="@{/public/contact}">CONTACTO</a>
                            </li >
                        </ul>
                    </div>
                    <!-- /.minimal-menu -->
                </nav>
                <!-- /.main-nav -->
            </div>
        </header>
        <div class="main">
            <div class="header-page">
                <div class="container">
                    <h1>STORES</h1>
                </div>
            </div>
            <!-- /.header-page -->
            <div class="main-content">
                <div class="container">
                    <div class="text-center">
                        <ul class="works-filter">
                            <li class="filter" data-filter="all">TODO</li>
                            <li class="filter" data-filter=".EEUU">EE.UU</li>
                            <li class="filter" data-filter=".Perú">PERÚ</li>
                        </ul>
                        <div class="list-works">
                            <div class="row">
                                <div th:each="tienda:${tiendas}" th:class="'mix '+${tienda.pais_tienda}+' col-sm-6'">
                                    <div class="works-item">
                                        <div class="works-thumb">
                                            <div class="main-img">
                                                <a>
                                                    <img class="img-responsive" th:src="${tienda.imagen_tienda}" alt="img" />
                                                </a>
                                            </div>
                                        </div>
                                        <h5 th:text="${tienda.nombre_tienda}"></h5 >
                                        <h6 th:text="${tienda.direccion_tienda}"> </h6 ><h4 th:text="${tienda.distrito_tienda}"> </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.main-content -->
        </div>
        <hr class="gray-line" />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h3>ADDRESS INFO</h3>
                        <!--<div class="address">Mall Aventura - Florida - <br />Miami</div>-->
                        <p>Tel. <a href="tel:+51 916541436">+51 916 541 436</a></p>
                        <p>Email. <a href="mailto:healthfirst@gmail.com">healthfirst@gmail.com</a></p>
                        
                    </div>
                    <div class="col-md-3 col-sm-6" th:if="${session.usuarios == null}">
                        <h3>INICIO</h3>
                        <ul class="list-link">
                            <li><a th:href="@{/public/index}">INICIO</a></li>
                            <li><a th:href="@{/public/shop}">COMPRAR</a></li>
                            <li><a th:href="@{/public/blog}">BLOG</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6" th:if="${session.usuarios != null}">
                        <h3>INICIO</h3>
                        <ul class="list-link">
                            <li><a th:href="@{/private/index}">INICIO</a></li>
                            <li><a th:href="@{/private/shop}">COMPRAR</a></li>
                            <li><a th:href="@{/private/blog}">BLOG</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <h3>POLITICAS</h3>
                        <ul class="list-link">
                            <li><a href="#">POLÍTICAS AMBIENTALES</a></li>
                            <li><a href="#">POLÍTICA PRIVADA</a></li>
                            <li><a href="#">CONDICIONES</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-3 col-sm-6" th:if="${session.usuarios == null}">
                        <h3>COMPAÑIA</h3>
                        <ul class="list-link">
                            <li><a th:href="@{/public/aboutus}">NOSOTROS</a></li>
                            <li><a th:href="@{/public/stores}">TIENDAS</a></li>
                            <li><a th:href="@{/public/contact}">CONTACTO</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6" th:if="${session.usuarios != null}">
                        <h3>COMPAÑIA</h3>
                        <ul class="list-link">
                            <li><a th:href="@{/private/aboutus}">NOSOTROS</a></li>
                            <li><a th:href="@{/private/stores}">TIENDAS</a></li>
                            <li><a th:href="@{/private/contact}">CONTACTO</a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="bottom-footer">
                    <div class="copyright">
                        ©COPYRIGHT 2022. HEALTH FIRST. TODOS LOS DERECHOS RESERVADOS. 
                    </div>
                    <!-- /.copyright -->
                    <ul class="list-payment">
                        <li><a href="#"><img src="/assets/images/visa.png" alt="img" /></a></li>
                        <li><a href="#"><img src="/assets/images/paypal.png" alt="img" /></a></li>
                        <li><a href="#"><img src="/assets/images/2co.png" alt="img" /></a></li>
                        <li><a href="#"><img src="/assets/images/ae.png" alt="img" /></a></li>
                        <li><a href="#"><img src="/assets/images/skrill.png" alt="img" /></a></li>
                    </ul>
                    <!-- /.list-payment -->
                </div>
            </div>
        </footer>
        <script src="/assets/scripts/libs/jquery-1.11.2.min.js"></script>
        <script src="/assets/scripts/libs/jquery-ui-1.11.4/jquery-ui.min.js"></script>
        <script src="/assets/scripts/libs/jquery.easing.1.3.js"></script>
        <script src="/assets/scripts/libs/bootstrap.min.js"></script>
        <script src="/assets/scripts/libs/fancySelect.js"></script>
        <script src="/assets/scripts/libs/jquery.fancybox.pack.js"></script>
        <script src="/assets/scripts/libs/jquery.ui.touch-punch.min.js"></script>
        <script src="/assets/scripts/libs/jquery.mousewheel.min.js"></script>
        <script src="/assets/scripts/libs/allinone_bannerRotator.js"></script>
        <script src="/assets/scripts/libs/owl.carousel.min.js"></script>
        <script src="/assets/scripts/libs/jquery.countdown.min.js"></script>
        <script src="/assets/scripts/libs/jquery.mixitup.min.js"></script>
        <script src="/assets/scripts/functions.js"></script>
    </body>
</html>